div.links {
  display : none;
}
div.body {
  padding : 0;
  margin-left : 8%;
  margin-right : 8%;
}
div.links {
  font-family : Verdana, Arial, sans-serif;
  font-size : 84%;
  font-weight : bold;
  margin-left : 0.5em;
  margin-right : 0.5em;
  padding : 0.25em;
  border : thin solid #009900;
  background-color : #ccffcc;
}

table#content {
  margin-left : 0.5em;
  margin-right : 0.5em;
  background : #ffffcc;
}
