body {
  background : #ccffcc;
}
.body {
  background : #ffffcc;
  border : thin solid #009900;
  margin-left : 0.5em;
  margin-right : 0.5em;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
  padding-left : 1em;
  padding-right : 1em;
  padding-top : 0.5em;
  padding-bottom : 0.5em;
}
div.links {
  font-family : Verdana, Arial, sans-serif;
  font-size : 84%;
  font-weight : bold;
  margin-left : 0.5em;
  margin-right : 0.5em;
  padding : 0.25em;
  border : thin solid #000099;
  background-color : #99ccff;
}

